<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.complaint.server.repository.brd.BrdInfoRepository">
<sql id="listColumns">
    brd_seq
    ,category
    ,brd_title
    ,brd_content
    ,mbr_seq
    ,attch_file_path
    ,longitude
    ,latitude
    ,frst_rgst_dt
    ,last_mdf_dt
</sql>

<sql id="searchOption">
    <if test="searchKey != null and searchKey != '' and searchValue != null and searchValue != ''">
        AND (
        <choose>
            <when test="searchKey == brdTitle">brd_title</when>
        </choose>
        like concat('%', #{searchValue}, '%')
        )
    </if>
</sql>

<select id="listBrdInfo" parameterType="com.personal.complaint.server.model.BrdInfoVo" resultType="com.personal.complaint.server.model.BrdInfoVo">
    select <include refid="listColumns"></include>
    from complaint.brd_info
    <trim prefix="WHERE" prefixOverrides="AND|OR">
        <include refid="searchOption"></include>
    </trim>
    <if test="pageSize != null and pageSize != ''"> limit #{pageSize} offset #{offSet}</if>
</select>

<select id="getTotalCountBrdInfo" parameterType="com.personal.complaint.server.model.BrdInfoVo" resultType="int">
    select count(*)
    from complaint.brd_info
    <trim prefix="WHERE" prefixOverrides="AND|OR">
        <include refid="searchOption"></include>
    </trim>
</select>

<select id="getBrdInfo" parameterType="com.personal.complaint.server.model.BrdInfoVo" resultType="com.personal.complaint.server.model.BrdInfoVo">
    select <include refid="listColumns"></include>
    from complaint.brd_info
    where brd_seq = #{brdSeq}
</select>

<insert id="insertBrdInfo" parameterType="com.personal.complaint.server.model.BrdInfoVo" useGeneratedKeys="true" keyProperty="brdSeq" keyColumn="brd_seq">
    insert into complaint.brd_info
    set frst_rgst_dt = NOW()
    <if test="brdTitle != null">,brd_title = #{brdTitle}</if>
    <if test="category != null">,category = #{category}</if>
    <if test="brdContent != null">,brd_content = #{brdContent}</if>
    <if test="mbrSeq != null">,mbr_seq = #{mbrSeq}</if>
    <if test="attchFilePath != null">,attch_file_path = #{attchFilePath}</if>
    <if test="longtitude != null">,longtitude = #{longtitude}</if>
    <if test="latitude != null">,latitude = #{latitude}</if>
</insert>

<update id="updateBrdInfo" parameterType="com.personal.complaint.server.model.BrdInfoVo">
    update complaint.brd_info
    set last_mdf_dt = NOW()
    <if test="brdTitle != null">,brd_title = #{brdTitle}</if>
    <if test="category != null">,category = #{category}</if>
    <if test="mbrSeq != null">,mbr_seq = #{mbrSeq}</if>
    <if test="attchFilePath != null">,attch_file_path = #{attchFilePath}</if>
    <if test="longtitude != null">,longtitude = #{longtitude}</if>
    <if test="latitude != null">,latitude = #{latitude}</if>
</update>

<delete id="deleteBrdInfo" parameterType="com.personal.complaint.server.model.BrdInfoVo">
    delete from complaint.brd_info
    where brd_seq = #{brdSeq}
</delete>

</mapper>