<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.complaint.server.repository.mbr.MbrInfoRepository">
<sql id="listColumns">
    mbr_seq
    ,mbr_id
    ,mbr_nm
    ,mbtlnum
    ,zip
    ,addr
    ,addr_detail
    ,password
    ,join_dt
    ,last_mdf_dt
</sql>
<sql id="searchOption">
    <if test="searchKey != null and searchKey != '' and searchValue != null and searchValue != ''">
        AND (
        <choose>
            <when test="searchKey == 'mbrId'">mbr_id</when>
            <when test="searchKey == 'mbrNm'">mbr_nm</when>
            <when test="searchKey == 'mbtlnum'">mbtlnum</when>
        </choose>
        like concat('%',#{searchValue},'%')
        )
    </if>
</sql>

<select id="listMbrInfo" parameterType="com.personal.complaint.server.model.MbrInfoVo" resultType="com.personal.complaint.server.model.MbrInfoVo">
    select <include refid="listColumns"></include>
    from complaint.mbr_info
    <trim prefix="WHERE" prefixOverrides="AND|OR">
        <include refid="searchOption"></include>
    </trim>
    order by join_dt desc
    <if test="pageSize != null and pageSize != ''"> limit #{pageSize} offset #{offSet}</if>
</select>

<select id="getTotalCountMbrInfo" parameterType="com.personal.complaint.server.model.MbrInfoVo" resultType="int">
    select count(*)
    from complaint.mbr_info
    <trim prefix="WHERE" prefixOverrides="AND|OR">
        <include refid="searchOption"></include>
    </trim>
</select>

<select id="getMbrInfo" parameterType="com.personal.complaint.server.model.MbrInfoVo" resultType="com.personal.complaint.server.model.MbrInfoVo">
    select <include refid="listColumns"></include>
    from complaint.mbr_info as a
    where mbr_seq = #{mbrSeq}
</select>

<insert id="insertMbrInfo" parameterType="com.personal.complaint.server.model.MbrInfoVo" useGeneratedKeys="true" keyProperty="mbrSeq" keyColumn="mbr_seq">
    insert into complaint.mbr_info
    set join_dt = NOW()
    <if test="mbrId != null">,mbr_id = #{mbrId}</if>
    <if test="mbrNm != null">,mbr_nm = #{mbrNm}</if>
    <if test="mbtlnum != null">,mbtlnum = #{mbtlnum}</if>
    <if test="zip != null">,zip = #{zip}</if>
    <if test="addr != null">,addr = #{addr}</if>
    <if test="addrDetail != null">,addr_detail = #{addrDetail}</if>
    <if test="password != null">,password = #{password}</if>
</insert>

<update id="updateMbrInfo" parameterType="com.personal.complaint.server.model.MbrInfoVo" >
    update complaint.mbr_info
    set last_mdf_dt = NOW()
    <if test="mbrId != null">,mbr_id = #{mbrId}</if>
    <if test="mbrNm != null">,mbr_nm = #{mbrNm}</if>
    <if test="mbtlnum != null">,mbtlnum = #{mbtlnum}</if>
    <if test="zip != null">,zip = #{zip}</if>
    <if test="addr != null">,addr = #{addr}</if>
    <if test="addrDetail != null">,addr_detail = #{addrDetail}</if>
    <if test="password != null">,password = #{password}</if>
    where mbr_seq = #{mbrSeq}
</update>

<delete id="deleteMbrInfo" parameterType="com.personal.complaint.server.model.MbrInfoVo" >
    delete from complaint.mbr_info
    where mbr_seq = #{mbrSeq}
</delete>

</mapper>